/*
.theme-dark,
.theme-light,
:root {
  --background-primary: #080808!important;
  --background-secondary: #ce2424 !important;
  --background-secondary-alt: #f35454 !important;
  --background-tertiary: #333333 !important;
  --background-accent: #dd1818 !important;
  --background-floating: #0a0909 !important;
  --background-modifier-hover: rgba(255, 255, 255, 0.01) !important;
  --background-modifier-active: rgba(255, 255, 255, 0.03) !important;
  --background-modifier-selected: rgba(255, 255, 255, 0.04) !important;
  --background-modifier-accent: hsla(0, 0%, 100%, 0.06) !important;
  --channeltextarea-background: var(--background-accent) !important;
  --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
  --deprecated-card-editable-bg: rgba(0, 0, 0, 0.1) !important;
  --deprecated-text-input-bg: var(--deprecated-card-editable-bg) !important;
  --deprecated-text-input-border: var(--background-floating) !important;
  --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
  --activity-card-background: var(--background-primary) !important;
  --channels-default: #9f9f9f !important;
  --text-muted: #b6b6b6 !important;
  --text-normal: #fbfbfb !important;
  --interactive-normal: #c8c8c8 !important;
  --interactive-hover: #dcddde !important;
  --interactive-active: #fff !important;
  --interactive-muted: #747474 !important;
  --header-primary: white !important;
  --header-secondary: #c9c9c9 !important;
  --text-link: #00b0f4;
  --scrollbar-thin-thumb: #202225;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #202225;
    --scrollbar-auto-track: #2e3338;
    --scrollbar-auto-scrollbar-color-thumb: #202225;
    --scrollbar-auto-scrollbar-color-track: #2f3136;
  --toast-background: var(--background-primary) !important;
  --toast-header: var(--background-tertiary) !important;
  --toast-contents: var(--background-secondary) !important;
  --toast-box-shadow: rgba(0, 0, 0, 0.2) !important;
  --toast-border: var(--background-tertiary) !important;
}

:root {
    --spotify-color: #1ed860;
}
*/

.theme-dark,
.theme-light,
:root {
  --background-primary: #b2c5b2 !important;
  --background-secondary: /*linear-gradient(90deg, rgba(92,232,110,1) 9%, rgba(35,73,74,1) 82%) gradient??*/ #397d54 !important;
  --background-secondary-alt: #a8e0b7 !important;
  --background-tertiary: #232925c2 !important;
  --background-accent: #a8e0b7 !important;
  --background-floating: #9db0a4 !important;
  --background-modifier-hover: rgba(255, 255, 255, 0.01) !important;
  --background-modifier-active: rgba(255, 255, 255, 0.03) !important;
  --background-modifier-selected: rgba(255, 255, 255, 0.04) !important;
  --background-modifier-accent: hsla(0, 0%, 100%, 0.06) !important;
  --channeltextarea-background: var(--background-accent) !important;
  --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
  --deprecated-card-editable-bg: rgba(0, 0, 0, 0.1) !important;
  --deprecated-text-input-bg: var(--deprecated-card-editable-bg) !important;
  --deprecated-text-input-border: var(--background-floating) !important;
  --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
  --activity-card-background: var(--background-primary) !important;
  --channels-default: #0a0909 !important;
  --text-muted: #b6b6b6 !important;
  --text-normal: #1b1818 !important;
  --interactive-normal: #0a0909 !important;
  --interactive-hover: #dbd8d7 !important;
  --interactive-active: #0a0909 !important;
  --interactive-muted: #0a0909 !important;
  --header-primary: #0a0909 !important;
  --header-secondary: #0a0909 !important;
  --text-link: #16586f;
  --scrollbar-thin-thumb: #202225;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #202225;
    --scrollbar-auto-track: #2e3338;
    --scrollbar-auto-scrollbar-color-thumb: #202225;
    --scrollbar-auto-scrollbar-color-track: #2f3136;
  --toast-background: var(--background-primary) !important;
  --toast-header: var(--background-tertiary) !important;
  --toast-contents: var(--background-secondary) !important;
  --toast-box-shadow: rgba(0, 0, 0, 0.2) !important;
  --toast-border: var(--background-tertiary) !important;
}

:root {
    --spotify-color: #1ed860;
}


/*"+" Button*/
  .attachButtonPlus-jWVFah {
    fill: black;
  }

  /*"@"*/
  .icon-22AiRD {
    display: block;
    width: 24px;
    height: 24px;
    -webkit-app-region: no-drag;
    color: var(--text-normal);
}
  
/*Show text besides statuses in dms //does it work?//
[aria-label="Online"]::after {
  content: 'ONLINE';
  font-weight: bold;
  padding-left: 5px;
  color: #43B581
}
[aria-label="Do Not Disturb"]::after {
  content: 'DO NOT DISTURB';
  font-weight: bold;
  padding-left: 5px;
  color: #F04747
}
[aria-label="Idle"]::after {
  content: 'IDLE';
  font-weight: bold;
  padding-left: 5px;
  color: #FFB740
}
[aria-label="Offline"]::after {
  content: 'OFFLINE/INVISIBLE';
  font-weight: bold;
  padding-left: 5px;
  color: #747F8D
}*/

  .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    color: #fff;
    background-color: #32ad61;
}

  /*Discord Sign*/
.operations-36ENbA>a {   
  color: #397d54;
  -webkit-transition: .05s;
  transition: .05s;
  text-decoration: none;
  cursor: pointer;
}

.container-3baos1 {
  height: 52px;
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 8px;
  margin-bottom: 1px;
  border: 3px solid #32ad61;
  border-radius: 40px;
} 

.wrapper-3D2qGf {
  background-color: #dbd8d7;
}

.peopleColumn-29fq28 {
  background-color: #dbd8d7;
 /* border-bottom: 8px solid #94b8a1;   //need to figure out the border */
} 


/*Min Max Close*/
.winButton-iRh8-Z {
  color: #32ad61;
}

/*Discord Lettering*/
.wordmarkWindows-1v0lYD {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 9px 3px;
  color: var(--background-secondary);
}

/**/
.section-2gLsgF {
  position: relative;
  padding: 12px;
  border-radius: 4px;
  background-color: #94b8a1;
}

/*Activity Section*/
.activitySection-cEg8ae {
  display: grid;
  grid-template-columns: 32px minmax(20px,auto);
  grid-gap: 12px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  background-color: #94b8a1;
}

/* Fly in Voice Chat buttons */
.container-3baos1 .noWrap-3jynv6 {
    width: 0px;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease-in-out;
}

.container-3baos1:hover .noWrap-3jynv6 {
    width: 100px;
    opacity: 1;
    pointer-events: all;
}

/*Sidebar*/
.content-3YMskv a {
  padding: 1px 1px;
  background-color: rgba(245, 245, 245, 0.226);
  border: rgba(245, 245, 245, 0.226);
  border-radius: 15px;
  margin: 10px; 
}

/*Menu Bar*/
.menu-3sdvDG {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  cursor: default;
  max-height: calc(100vh - 32px);
  -webkit-box-shadow: var(--elevation-high);
  box-shadow: var(--elevation-high);
  background: var(--background-secondary-alt);
  border: 1.5px solid #81ba90;
  border-radius: 10px;
}

/*chat sidebar*/
.labelContainer-1BLJti {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 32px;
  background-color: #9ccba8;
  padding: 6px 8px;
  border-radius: 10px;
}

/*Search Bar*/
.searchBar-6Kv8R2 {
  z-index: 2;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 0 10px;
  height: 48px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: var(--elevation-low);
  box-shadow: var(--elevation-low);
  background-color: #397d54;
}

.searchBar-3dMhjb {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  height: 24px;
  width: 144px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: text;
  overflow: hidden;
  padding: 0 2px;
  color: var(--text-normal);
  background-color: #397d54;
}

/*Scrollbar*/

/*Embeds in chat*/
.content-3YMskv a {
  padding: 2px 1.5px;
  background-color: rgba(245, 245, 245, 0.226);
  border: rgba(245, 245, 245, 0.226);
  border-radius: 15px;
  margin: 10px;
}

.sidebar-2K8pFh, .chat-3bRxxu, .container-3Mxszk, .container-1D34oG, .applicationStore-1pNvnv {
   border-radius: 15px 15px 0 0 !important
}

/*Separates channels list from chat box*/
.chat-3bRxxu, .container-1D34oG, .container-3Mxszk, .applicationStore-1pNvnv {
   position: relative;
   left: 5px;
   padding-right: 5px
}

/*Server chat screen*/
.cozy-3raOZG .timestamp-3ZCmNB { 
  font-size: 0.75rem;
  line-height: 1.375rem;
  color: var(--text-muted);
  vertical-align: baseline;
  margin-left: .25rem;
  color: black;
}

/*emoji face non-gray-scaled version*/
*{
  -webkit-filter: none !important;
  filter: none !important;
}

 /*Spotify Profile Modal*/
 .headerPlaying-j0WQBV, .topSectionPlaying-1J5E4n {
  z-index: 1;
  background-image: url(https://cdn.naila.bot/Discord/playing-background.svg),linear-gradient(to top right,#60adff,#4453fc);
}

.headerSpotify-zpWxgT, .topSectionSpotify-1lI0-P {
  z-index: 1;
  background-image: url(https://cdn.naila.bot/Discord/playing-background.svg),linear-gradient(to top right,#1db954,#44fc9d);
}

/*Spotify Controls*/
.powercord-spotify > .container-3baos1 > .flex-1xMQg5 > .button-14-BFJ {
  display:none;
}
.powercord-spotify.hover > .container-3baos1 > .flex-1xMQg5 > .button-14-BFJ {
  display:initial !important;
}

/*Better game playing status*/
.headerPlaying-j0WQBV, .topSectionPlaying-1J5E4n {
  background: url(https://cdn.discordapp.com/attachments/429284670228660224/755769080472010872/game.svg), linear-gradient(to top right, rgb(90,162,242), rgb(69,86,252));
}

/*Rainbow server settings button/icon   //un-commented for now
@keyframes rainbow-server-settings-button {
  from {color: #6666ff}
  25%  {color: #0099ff}
  50%  {color: #00ff00}
  75%  {color: #ff3399}
  100% {color: #6666ff}
}

.button-1w5pas {
  animation: rainbow-server-settings-button 10s ease-in-out infinite;
}*/

/* Center profile tabs */
.tabBar-2MuP6- { 
  justify-content: center; 
}

.top-28JiJ-:last-child .item-PXvHYJ:last-child {
   margin-right: 0;
 }

 /*Custom Home Button
.listItem-2P_4kh:nth-child(1) .listItemWrapper-3X98Pc .wrapper-25eVIn svg foreignObject .wrapper-1BJsBx .childWrapper-anI2G9 .homeIcon-tEMBK1 {
  background: url(''); /* image url */
 /* background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;
  margin-top: -2px;
}
.homeIcon-tEMBK1 path {
  fill: transparent;
}
.header-3ZP1MY {
  color: var(white);
}*/

/*Profile Badges // might work/delete later
.header-QKLPzZ .powercord-badge-cutie img:first-child{display: none !important}
.header-QKLPzZ .powercord-badge-cutie img:last-child{display:block!important}
[class^="profileBadge-2BqF-Z powercord-badge-"]{color:white!important}
[class*="BadgeStaff"]{filter: brightness(10)!important}
[class*="BadgePartner"]{filter: brightness(10)!important}
[class*="BadgeHypesquad-"]{filter: brightness(10)!important}
[class*="BadgeHypeSquadOnlineHouse1"]{filter: brightness(10)!important}
[class*="BadgeHypeSquadOnlineHouse2"]{filter: brightness(10)!important}
[class*="BadgeHypeSquadOnlineHouse3"]{filter: brightness(10)!important}
[class*="BadgeBugHunter"]{filter: brightness(10)!important}
[class*="BadgeVerifiedDeveloper"]{filter: brightness(10)!important}
[class*="BadgeEarlySupporter"]{background-image:url("/assets/ce15562552e3d70c56d5408cfeed2ffd.svg")!important}
[class*="BadgePremium"]{background-image:url("/assets/379d2b3171722ef8be494231234da5d1.svg")!important}
[class*="GuildSubscriberlvl1"]{background-image:url("/assets/a86d7e56b8208da9f8623ac49fe822dc.svg")!important}
[class*="GuildSubscriberlvl2"]{background-image:url("/assets/e85361cd599b6722548c5a5f003b4b78.svg")!important}
[class*="GuildSubscriberlvl3"]{background-image:url("/assets/7a0be61e754af3353d0871070f46a9d6.svg")!important}
[class*="GuildSubscriberlvl4"]{background-image:url("/assets/88f960f400930f109847d0335685de69.svg")!important}
[class*="GuildSubscriberlvl5"]{background-image:url("/assets/a99def5f819c077e5e5061cab741b7e6.svg")!important}
[class*="GuildSubscriberlvl6"]{background-image:url("/assets/2cfb317f3db3963d8ded9a97ee967bac.svg")!important}
[class*="GuildSubscriberlvl7"]{background-image:url("/assets/278736f579d810b11ddf308cb598b19e.svg")!important}
[class*="GuildSubscriberlvl8"]{background-image:url("/assets/38e40f25802a0fdf480d9b855a37a2f3.svg")!important}
[class*="GuildSubscriberlvl9"]{background-image:url("/assets/cfbc2d8ceacfacf07850f986c8165195.svg")!important}
*/

